---
Checks:
'
*,
-bugprone-exception-escape,
-cppcoreguidelines-avoid-c-arrays,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-macro-usage,
-cppcoreguidelines-no-malloc,
-cppcoreguidelines-owning-memory,
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-pro-type-union-access,
-fuchsia-default-arguments,
-google-readability-todo,
-google-runtime-references,
-hicpp-avoid-c-arrays,
-hicpp-multiway-paths-covered,
-hicpp-no-array-decay,
-hicpp-no-malloc,
-hicpp-signed-bitwise,
-llvm-header-guard,
-modernize-avoid-c-arrays,
-readability-implicit-bool-conversion,
-readability-magic-numbers
'
...

