---
BasedOnStyle: LLVM
---
Language: Cpp
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: false
BinPackParameters: false
BreakBeforeBraces: Linux
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: false
IndentCaseLabels: true
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 100
SpaceAfterCStyleCast: true
